<!DOCTYPE html>
<html lang="th">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover">
  <meta name="theme-color" content="#f0f0f0">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="mobile-web-app-capable" content="yes">
  <title>How to Play this Game</title>
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>
  <div class="center-page">
    <h1 class="home-title">How to Play this Game</h1>
    <ul class="howto-list">
      <li>😳 = ตัวผู้เล่น (มีชีวิต 3 ชีวิต)</li>
      <li>👻 = กีกี้ (ลดชีวิตผู้เล่น 1 หน่วย)</li>
      <li>👿 = มินิบอส (เร็วขึ้นและลดชีวิตผู้เล่น 1 หน่วย)</li>
      <li>🐲 = บอส (เร็วขึ้นและลดชีวิตผู้เล่น 2 หน่วย)</li>
      <li>♥️ = เพิ่มชีวิตผู้เล่น (1 หน่วย)</li>
      <li>⚡ = เพิ่มความเร็วผู้เล่น (2 หน่วยเป็นเวลา 3 วินาที)</li>
      <li>🛡️ = ป้องกันชีวิตผู้เล่น (1 ครั้ง)</li>
      <li>🗝️ = กุญแจ (ต้องเก็บให้ครบ 3 อัน)</li>
      <li>🚪 = ทางออก (จะเปิดก็ต่อเมื่อเก็บกุญแจครบ)</li>
    </ul>
    <button class="back-btn" onclick="location.href='/'">⬅️ Return to Home Page</button>
  </div>
</body>
</html>
